[submodule "templify-backend"]
	path = templify-backend
	url = https://github.com/templifying/templify-backend.git
[submodule "templify-web"]
	path = templify-web
	url = https://github.com/templifying/templify-web.git
[submodule "templify-cli"]
	path = templify-cli
	url = https://github.com/templifying/templify-cli.git
