[submodule "mkpdfs-backend"]
	path = mkpdfs-backend
	url = https://github.com/mkpdfs/mkpdfs-backend.git
[submodule "mkpdfs-web"]
	path = mkpdfs-web
	url = https://github.com/mkpdfs/mkpdfs-web.git
[submodule "mkpdfs-cli"]
	path = mkpdfs-cli
	url = https://github.com/mkpdfs/mkpdfs-cli.git
